@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

.title {
  white-space: nowrap;
  font-family: 'Shrikhand', cursive;
  user-select: none;
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: transparent;
}

::-moz-selection {
  background: transparent;
}

@keyframes shake {
  0% { transform: translate(3px); }
  10% { transform: translate(-3px); }
  20% { transform: translate(3px); }
  30% { transform: translate(-3px); }
  40% { transform: translate(2px); }
  50% { transform: translate(-2px); }
  60% { transform: translate(2px); }
  70% { transform: translate(-2px); }
  80% { transform: translate(1px); }
  90% { transform: translate(-1px); }
  100% { transform: translate(1px); }
}

input::selection{
  background-color: transparent;
}

.end {
  margin: auto;
}

#win, #lose {
  position: fixed;
  margin-top: 3vh;
  -webkit-user-select: none;
  user-select: none;
  background-color: lightgrey;
  font-family: 'Shrikhand', cursive;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  opacity: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 6px solid black;
  border-radius: 17px 0px 17px 0px / 17px 0px 17px 0px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  left: calc(50vw - (436px / 2));
  right: calc(50vw - (436px / 2));
  top: 35vh;
  opacity: 0;
  white-space: normal;
}

#win.mobile {
  left: calc(50vw - (357px / 2));
  right: calc(50vw - (357px / 2));
  top: 30px;
}

#lose.mobile {
  left: calc(50vw - (357px / 2));
  right: calc(50vw - (357px / 2));
  top: 30px;
}

.footer {
  white-space: nowrap;
  text-align: center;
  font-family: 'Shrikhand', cursive;
  user-select: none;
  font-size: 1em;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding-top: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

.hide {
    display: none;
}



#grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
  grid-gap: 8px;
  width: 100%;
  padding-top: 50px;
}

.newbase {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 32px;
  font-weight: bolder;
  background-color: lightgrey;
  display: inline-flex;
  width: 70px;
  height: 70px;
  text-transform: uppercase;
  text-align: center;
  transition: 0.1s;
  border-radius: 25px 0px 25px 0px / 25px 0px 25px 0px;
  border: 8px solid black;
  box-sizing: border-box;
  vertical-align: middle;
  padding: 0px;
}

.newbase:focus {
  caret-color: transparent;
  border: 10px solid black;
  border-radius: 25px;
  outline-width: 0px;
}

.container {
  margin: auto;
  padding: 0.5rem;
  text-align: center;
  width: max-content;
  white-space: nowrap;
  user-select: none;
}